@font-face {
  font-family: 'Atten New';
  src: url('../../assets/fonts/AttenNew-Bold.woff2') format('woff2'),
      url('../../assets/fonts/AttenNew-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ItalianDidotW90-Normal';
  src: url('../../assets/fonts/ItalianDidotW90-Normal.woff2') format('woff2'),
      url('../../assets/fonts/ItalianDidotW90-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atten New';
  src: url('../../assets/fonts/AttenNew-RegularItalic.woff2') format('woff2'),
      url('../../assets/fonts/AttenNew-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atten New';
  src: url('../../assets/fonts/AttenNew-Medium.woff2') format('woff2'),
      url('../../assets/fonts/AttenNew-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atten New';
  src: url('../../assets/fonts/AttenNew-Regular.woff2') format('woff2'),
      url('../../assets/fonts/AttenNew-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('../../assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

