@import 'tailwindcss/base';
@import 'global-css/body-style.css';
@import 'global-css/typography.css';
@import 'global-css/fonts.css';

@import 'tailwindcss/components';
@import 'components/buttons.css';
@import 'components/slider.css';
@import 'components/navbar.css';

@import 'tailwindcss/utilities';
@import 'external-css/externl.css'

