@import 'components/buttons.css';
@import 'components/slider.css';
@import 'external-css/externl.css';
@import 'global-css/fonts.css';
@import 'global-css/body-style.css';
@import 'global-css/typography.css';