.stretched-link {
  @apply before:absolute
 before:inset-0;
}

.top-header-links{
@apply
flex
items-center;
}

.top-header-links a {
  @apply text-white
 hover:text-white/70
 focus:text-white/70
 active:text-white/70
 last:pr-0
 pr-6
 sm:pr-4;
}


.top-header-links a i {
 @apply
 text-xl;
}
